# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
server/.env
client/.env

# Uploads
server/uploads/*
!server/uploads/.gitkeep

# System files
.DS_Store
Thumbs.db
*.log
*.bak
*.tmp
